<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>The Free Foto-Art Website Template | Contact :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/static/myart/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="/static/myart/home/js/jquery.min.js"></script>
<script src="/static/myart/home/js/script.js"></script>
<script>
          function login()
	  {
	  	location.href="/login/";
	  }
	  function signup()
	  {
	  	location.href="/register/";
	  }
	  function logout()
	  {
	  	location.href="/logout/";
	  }
	  function profile()
	  {
	  	location.href="/upload/";
	  }
  </script>
</head>
<body>
<div class="header-bg">
<div class="wrap">
<div class="header">
		<div class="logo">
				<a href="index.html"><img src="/static/myart/home/images/logo.png" alt="" title="logo"></a>
		</div>
	<ul class="nav">
		<li class="home"><a href="/#">Home</a></li>
		
		<li class="contact"><a href="">Contact</a></li>
		{% if not user.is_authenticated %}
			<li><button onclick=login()>Log In</a></button></li>
			<li><button onclick=signup()>Sign Up</a></button></li>
		{% else %}
			
			<li class="news"><a href="javascript:profile();">View Profile</a></li>
			<li><button onclick=logout()>Log Out</a></button></li>
		{% endif %}
	</ul>
	<div><br><br><br></div> 
	<div class="clear"></div>
	<div class="text">
		<div class="text-h">
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		</div>
		<div class="text-b">
		 {% if error %}
			<p style="color: red;">Please submit a search term.</p>
		 {% endif %}
		<form id="searchForm" method='GET' action='/search/'>
        	   <fieldset>
                   <div class="input">
                        <input type="text" name="q" id="s" placeholder="Search Artist" />
                          <input type="submit" id="searchSubmit" value="Search" />
                   </div>
                  </fieldset>
         </div>
	<div class="clear"></div>
		</div>
	</div>
</div>
</div>
</div>
<div class="content-bg">
<div class="wrap">
<div class="content">
	<div class="section group">				
				<div class="col span_1_of_3">
					<div class="contact_info">
			    	 	<h3>Find Us Here</h3>
			    	 		
      				</div>
      			<div class="company_address">
				     	
				 	 	<p>Email: tggargteena18@gmail.com</p>
				   		<p>Follow us:
						<i class="fa fa-facebook"></i>
				   		
				   </div>
				</div>				
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h3>Contact Us</h3>
					    <form method="post" action="">
					    	{% csrf_token %}
					    	<div>
						    	<!--<span><label>NAME</label></span>-->
						    	<span><input type="text" name="name" placeholder="Name" required></span>
						    </div>
						    <div>
						    	<!--<span><label>E-MAIL</label></span>-->
						    	<span><input type="text" name="email" placeholder="Email" required></span>
						    </div>
						    
						    <div>
						    	<!--<span><label>SUBJECT</label></span>-->
						    	<span><input type="text" name="subject" placeholder="Subject" required></span>
						    </div>
						    <div>

						    	<!--<span><label>Message</label></span>-->
						    	<textarea name="message" placeholder="Message" rows="6" required></textarea>
						    </div>
						   <div>
						   		<button name="submit" type="submit">Submit</button>
						  </div>
					    </form>
				    </div>
  				</div>				
		  </div>
</div>
</div>
</div>
</body>
</html>
