<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>The Free Foto-Art Website Template | Home :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="/static/myart/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="/static/myart/home/js/jquery.min.js"></script>
<script src="/static/myart/home/js/script.js"></script>
<script>
	  function contact()
	  {
	  	location.href="/contact/";
	  }
	  function login()
	  {
	  	location.href="/login/";
	  }
	  function signup()
	  {
	  	location.href="/register/";
	  }
	  function logout()
	  {
	  	location.href="/logout/";
	  }
	  function profile()
	  {
	  	location.href="/upload/";
	  }
  </script>
</head>
<body>
<div class="header-bg">
<div class="wrap">
<div class="header">
		<div class="logo">
				<a href="/#"><img src="/static/myart/home/images/logo.png" alt="" title="logo"></a>
		</div>
	<ul class="nav">
		<li class="home"><a href="/#">Home</a></li>
		
		<li class="contact"><a href="javascript:contact();">Contact</a></li>
		{% if not user.is_authenticated %}
			<li><button onclick=login()>Log In</a></button></li>
			<li><button onclick=signup()>Sign Up</a></button></li>
		{% else %}
			
			<li class="news"><a href="javascript:profile();">View Profile</a></li>
			<li><button onclick=logout()>Log Out</a></button></li>
		{% endif %}
	</ul>
	<div><br><br><br></div> 
	<div class="clear"></div>
	<div class="text">
		<div class="text-h">
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		</div>
		<div class="text-b">
		 {% if error %}
			<p style="color: red;">Please submit a search term.</p>
		 {% endif %}
		<form id="searchForm" method='GET' action='/search/'>
        	   <fieldset>
                   <div class="input">
                        <input type="text" name="q" id="s" placeholder="Search Artist" />
                          <input type="submit" id="searchSubmit" value="Search" />
                   </div>
                  </fieldset>
         </div>
	<div class="clear"></div>
		</div>
	</div>
</div>
</div>
</div>
<div class="content-bg">
<div class="content">
    <div id="main" role="main">
      <ul id="tiles">
        <!-- These are our grid blocks -->
        <li><a href="single.html"><img src="/static/myart/home/image_1.jpg" width="360" height="270"></a></li>
        <li><a href="single.html"><img src="/static/myart/home/image_2.jpg" width="360" height="480"></a></li>
        <li><a href="single.html"><img src="/static/myart/home/image_3.jpg" width="360" height="160"></a></li>
        <li><a href="single.html"><img src="/static/myart/home/image_4.jpg" width="360" height="260"></a></li>
        <li><a href="single.html"><img src="/static/myart/home/image_5.jpg" width="360" height="300"></a></li>
        <li><a href="single.html"><img src="/static/myart/home/image_6.jpg" width="360" height="290"></a></li>
        <li><a href="single.html"><img src="/static/myart/home/image_7.jpeg" width="360" height="200"></a></li>
        <li><a href="single.html"><img src="/static/myart/home/image_8.jpg" width="360" height="280"></a></li>
        <li><a href="single.html"><img src="/static/myart/home/image_9.jpg" width="360" height="440"></a></li>
        <li><a href="single.html"><img src="/static/myart/home/image_10.jpg" width="360" height="320"></a></li>
       
        <!-- End of grid blocks -->
      </ul>
	</div>
 <!-- include jQuery -->
  <script src="/static/myart/home/js/jquery.min.js"></script>
  <!-- Include the imagesLoaded plug-in -->
  <script src="/static/myart/home/js/jquery.imagesloaded.js"></script>

  <!-- Include the plug-in -->
  <script src="/static/myart/home/js/jquery.wookmark.js"></script>

  <!-- Once the page is loaded, initalize the plug-in. -->
  <script type="text/javascript">
    (function ($){
      $('#tiles').imagesLoaded(function() {
        var handler = null;

        // Prepare layout options.
        var options = {
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $('#main'), // Optional, used for some extra CSS styling
          offset: 20, // Optional, the distance between grid items
          itemWidth: 360 // Optional, the width of a grid item
        };

        /**
         * When scrolled all the way to the bottom, add more tiles.
         */
        function onScroll(event) {
          // Check if we're within 100 pixels of the bottom edge of the broser window.
          var winHeight = window.innerHeight ? window.innerHeight : $(window).height(); // iphone fix
          var closeToBottom = ($(window).scrollTop() + winHeight > $(document).height() - 100);

          if (closeToBottom) {
            // Get the first then items from the grid, clone them, and add them to the bottom of the grid.
            var items = $('#tiles li'),
                firstTen = items.slice(0, 10);
            $('#tiles').append(firstTen.clone());

            // Destroy the old handler
            if (handler.wookmarkInstance) {
              handler.wookmarkInstance.clear();
            }

            // Create a new layout handler.
            handler = $('#tiles li');
            handler.wookmark(options);
          }
        };

        // Capture scroll event.
        $(window).bind('scroll', onScroll);

        // Call the layout function.
        handler = $('#tiles li');
        handler.wookmark(options);
      });
    })(jQuery);
  </script>
</div>
</div>
</body>
</html>
